In [1]:
#libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
#loading dataset
data = sns.load_dataset('iris')
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
data.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [5]:
data.shape

(150, 5)

In [6]:
data.index

RangeIndex(start=0, stop=150, step=1)

In [9]:
data.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [10]:
from sklearn.model_selection import train_test_split as tst
train,test=tst(data,test_size=0.1)

In [11]:
train_x = train.loc[:,train.columns  != 'species']
test_x = train.loc[:,test.columns != 'species']

train_y = train['species']
test_y = test['species']

In [15]:
#including SVM
from sklearn.svm import SVC
model = SVC(kernel='Linear',degree = 5)
model = SVC(kernel='poly',degree = 7)
model = SVC(kernel='sigmoid',degree = 6)
#model = SVC(kernel='Goussian',degree = 2)
model.fit(train_x, train_y)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=6, gamma='auto', kernel='sigmoid',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [16]:
pred_y = model.predict(test_x)

In [20]:
res = pd.DataFrame({'actual': test_y,'predicted' : pred_y})
print(res)

ValueError: array length 135 does not match index length 15